*{
	padding: 0;
	margin: 0;
}

.App{
	margin: auto;
}

.open-form{
	padding: 0.5rem;
	border: 2px solid black;
	color: white;
	outline: none;
	background-color: rgb(65, 65, 238);
}

.modal{
	width: 100%;
	height: 100%;
}

.modal-content{
	margin: auto;
	width: 400px;
	padding: 0.825rem;
	border: 2px solid black;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.modal-content{
	gap: 1rem;
}